USE [master]
GO
/****** Object:  Database [MappedIn3DModels]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE DATABASE [MappedIn3DModels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MappedIn3DModels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MappedIn3DModels.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MappedIn3DModels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MappedIn3DModels_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MappedIn3DModels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MappedIn3DModels]
GO
/****** Object:  Table [dbo].[AreaCategory]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaCategory](
	[AreaCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[AreaListID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_AreaCategory] PRIMARY KEY CLUSTERED 
(
	[AreaCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaList]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaList](
	[AreaListID] [int] IDENTITY(1,1) NOT NULL,
	[MappedinID] [nvarchar](100) NOT NULL,
	[LocationName] [nvarchar](200) NULL,
	[FloorID] [nvarchar](100) NULL,
	[LastSync] [datetime] NULL,
 CONSTRAINT [PK_AreaList] PRIMARY KEY CLUSTERED 
(
	[AreaListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AreaList_MappedinID] UNIQUE NONCLUSTERED 
(
	[MappedinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvailableModels]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableModels](
	[AvailableModelsId] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[FileName] [nvarchar](500) NOT NULL,
	[Thumbnail] [nvarchar](500) NULL,
	[DefaultScaleX] [decimal](10, 4) NULL,
	[DefaultScaleY] [decimal](10, 4) NULL,
	[DefaultScaleZ] [decimal](10, 4) NULL,
	[DefaultRotationX] [decimal](10, 4) NULL,
	[DefaultRotationY] [decimal](10, 4) NULL,
	[DefaultRotationZ] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AvailableModels] PRIMARY KEY CLUSTERED 
(
	[AvailableModelsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[IconPath] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterData_Languages]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterData_Languages](
	[LanguageId] [varchar](5) NOT NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
	[FlagIcon] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_MasterData_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterData_UI_Components]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterData_UI_Components](
	[ComponentId] [int] IDENTITY(1,1) NOT NULL,
	[ComponentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_MasterData_UI_Components] PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models3D]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models3D](
	[Model3DID] [int] IDENTITY(1,1) NOT NULL,
	[UUID] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[ModelURL] [nvarchar](500) NOT NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[FloorId] [nvarchar](100) NULL,
	[FloorName] [nvarchar](100) NULL,
	[RotationX] [decimal](10, 4) NOT NULL,
	[RotationY] [decimal](10, 4) NOT NULL,
	[RotationZ] [decimal](10, 4) NOT NULL,
	[ScaleX] [decimal](10, 4) NOT NULL,
	[ScaleY] [decimal](10, 4) NOT NULL,
	[ScaleZ] [decimal](10, 4) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Model3DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryName] [nvarchar](200) NOT NULL,
	[IconPath] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_Categories]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_Categories](
	[CategoryId] [int] NOT NULL,
	[IconPath] [nvarchar](255) NULL,
	[VN] [nvarchar](255) NOT NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_Translation_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_Floors]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_Floors](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[MappedinId] [varchar](100) NULL,
	[FloorCode] [varchar](20) NULL,
	[SortOrder] [int] NULL,
	[VN] [nvarchar](255) NOT NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_Translation_Floors] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_Locations]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_Locations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[MappedinId] [varchar](100) NULL,
	[LocationType] [varchar](50) NULL,
	[CategoryId] [int] NULL,
	[VN] [nvarchar](500) NOT NULL,
	[EN] [nvarchar](500) NULL,
	[ZH] [nvarchar](500) NULL,
	[JA] [nvarchar](500) NULL,
	[KO] [nvarchar](500) NULL,
 CONSTRAINT [PK_Translation_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_SubCategories]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_SubCategories](
	[SubCategoryId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IconPath] [nvarchar](255) NULL,
	[VN] [nvarchar](255) NOT NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_Translation_SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_UI]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_UI](
	[UIKeyId] [int] IDENTITY(1,1) NOT NULL,
	[KeyCode] [varchar](100) NOT NULL,
	[KeyType] [varchar](50) NULL,
	[VN] [nvarchar](500) NULL,
	[EN] [nvarchar](500) NULL,
	[ZH] [nvarchar](500) NULL,
	[JA] [nvarchar](500) NULL,
	[KO] [nvarchar](500) NULL,
 CONSTRAINT [PK_Translation_UI] PRIMARY KEY CLUSTERED 
(
	[UIKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Translation_UI_KeyCode] UNIQUE NONCLUSTERED 
(
	[KeyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models3D_CreatedAt]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_CreatedAt] ON [dbo].[Models3D]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Models3D_FloorId]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_FloorId] ON [dbo].[Models3D]
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models3D_IsActive]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_IsActive] ON [dbo].[Models3D]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Models3D_UUID]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_UUID] ON [dbo].[Models3D]
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Translation_Locations_MappedinId]    Script Date: 1/18/2026 10:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Translation_Locations_MappedinId] ON [dbo].[Translation_Locations]
(
	[MappedinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AreaList] ADD  DEFAULT (getdate()) FOR [LastSync]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleX]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleY]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleZ]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationX]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationY]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationZ]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[MasterData_Languages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MasterData_Languages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationX]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationY]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationZ]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleX]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleY]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleZ]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Translation_Floors] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[AreaCategory]  WITH CHECK ADD  CONSTRAINT [FK_AreaCategory_AreaList] FOREIGN KEY([AreaListID])
REFERENCES [dbo].[AreaList] ([AreaListID])
GO
ALTER TABLE [dbo].[AreaCategory] CHECK CONSTRAINT [FK_AreaCategory_AreaList]
GO
ALTER TABLE [dbo].[AreaCategory]  WITH CHECK ADD  CONSTRAINT [FK_AreaCategory_SubCategories] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategories] ([SubCategoryID])
GO
ALTER TABLE [dbo].[AreaCategory] CHECK CONSTRAINT [FK_AreaCategory_SubCategories]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories]
GO
ALTER TABLE [dbo].[Models3D]  WITH CHECK ADD  CONSTRAINT [CHK_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[Models3D] CHECK CONSTRAINT [CHK_Latitude]
GO
ALTER TABLE [dbo].[Models3D]  WITH CHECK ADD  CONSTRAINT [CHK_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[Models3D] CHECK CONSTRAINT [CHK_Longitude]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteModel]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete model (Soft Delete)
CREATE   PROCEDURE [dbo].[SP_DeleteModel]
    @UUID NVARCHAR(50)
AS
BEGIN
    UPDATE Models3D SET IsDeleted = 1, UpdatedAt = GETDATE() WHERE UUID = @UUID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllModels]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get all active models
CREATE   PROCEDURE [dbo].[SP_GetAllModels]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Models3D WHERE IsDeleted = 0 AND IsActive = 1 ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableModels]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure: SP_GetAvailableModels
CREATE   PROCEDURE [dbo].[SP_GetAvailableModels]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM AvailableModels WHERE IsActive = 1 ORDER BY ModelName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetModelByUUID]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get model by UUID
CREATE   PROCEDURE [dbo].[SP_GetModelByUUID]
    @UUID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Models3D WHERE UUID = @UUID AND IsDeleted = 0 AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SyncAvailableModel]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Stored Procedure: SP_SyncAvailableModel
-- Upserts based on FileName
CREATE   PROCEDURE [dbo].[SP_SyncAvailableModel]
    @ModelName nvarchar(200),
    @FileName nvarchar(500),
    @Thumbnail nvarchar(500),
    @DefaultScaleX decimal(10,4),
    @DefaultScaleY decimal(10,4),
    @DefaultScaleZ decimal(10,4),
    @DefaultRotationX decimal(10,4),
    @DefaultRotationY decimal(10,4),
    @DefaultRotationZ decimal(10,4)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM AvailableModels WHERE FileName = @FileName)
    BEGIN
        -- Update
        UPDATE AvailableModels
        SET ModelName = @ModelName,
            Thumbnail = @Thumbnail,
            UpdatedAt = GETDATE()
            -- We typically DON'T update defaults if user tuned them? 
            -- But here we assume file system source of truth for basic defaults or just keep existing.
            -- Let's update Thumbnail and Name.
        WHERE FileName = @FileName;
    END
    ELSE
    BEGIN
        -- Insert
        INSERT INTO AvailableModels (ModelName, FileName, Thumbnail, 
            DefaultScaleX, DefaultScaleY, DefaultScaleZ, 
            DefaultRotationX, DefaultRotationY, DefaultRotationZ)
        VALUES (@ModelName, @FileName, @Thumbnail, 
            @DefaultScaleX, @DefaultScaleY, @DefaultScaleZ,
            @DefaultRotationX, @DefaultRotationY, @DefaultRotationZ);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpsertModel]    Script Date: 1/18/2026 10:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedures
-- =============================================

-- Insert or Update Model
CREATE   PROCEDURE [dbo].[SP_UpsertModel]
    @UUID NVARCHAR(50),
    @ModelName NVARCHAR(200),
    @Description NVARCHAR(500),
    @ModelURL NVARCHAR(500),
    @Latitude DECIMAL(18, 10),
    @Longitude DECIMAL(18, 10),
    @FloorId NVARCHAR(100),
    @FloorName NVARCHAR(100),
    @RotationX DECIMAL(18, 4),
    @RotationY DECIMAL(18, 4),
    @RotationZ DECIMAL(18, 4),
    @ScaleX DECIMAL(18, 4),
    @ScaleY DECIMAL(18, 4),
    @ScaleZ DECIMAL(18, 4),
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Models3D WHERE UUID = @UUID)
    BEGIN
        UPDATE Models3D
        SET 
            ModelName = @ModelName,
            Description = @Description,
            ModelURL = @ModelURL,
            Latitude = @Latitude,
            Longitude = @Longitude,
            FloorId = @FloorId,
            FloorName = @FloorName,
            RotationX = @RotationX,
            RotationY = @RotationY,
            RotationZ = @RotationZ,
            ScaleX = @ScaleX,
            ScaleY = @ScaleY,
            ScaleZ = @ScaleZ,
            IsDeleted = 0,
            UpdatedAt = GETDATE()
        WHERE UUID = @UUID;
    END
    ELSE
    BEGIN
        INSERT INTO Models3D 
            (UUID, ModelName, Description, ModelURL, Latitude, Longitude, 
             FloorId, FloorName, RotationX, RotationY, RotationZ, 
             ScaleX, ScaleY, ScaleZ, CreatedBy, IsActive, IsDeleted)
        VALUES 
            (@UUID, @ModelName, @Description, @ModelURL, @Latitude, @Longitude,
             @FloorId, @FloorName, @RotationX, @RotationY, @RotationZ,
             @ScaleX, @ScaleY, @ScaleZ, @CreatedBy, 1, 0);
    END
END;
GO
USE [master]
GO
