USE [master]
GO
/****** Object:  Database [MappedIn3DModels]    Script Date: 1/22/2026 9:52:16 AM ******/
CREATE DATABASE [MappedIn3DModels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MappedIn3DModels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MappedIn3DModels.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MappedIn3DModels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MappedIn3DModels_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MappedIn3DModels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MappedIn3DModels]
GO
/****** Object:  Table [dbo].[AreaCategory]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaCategory](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[AreaListID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_AreaCategory] PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaInformation]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaInformation](
	[InformationID] [int] IDENTITY(1,1) NOT NULL,
	[AreaListID] [int] NOT NULL,
	[InformationVI] [nvarchar](max) NULL,
	[InformationEN] [nvarchar](max) NULL,
	[InformationZH] [nvarchar](max) NULL,
	[InformationJA] [nvarchar](max) NULL,
	[InformationKO] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_AreaInformation] PRIMARY KEY CLUSTERED 
(
	[InformationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaList]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaList](
	[AreaListID] [int] IDENTITY(1,1) NOT NULL,
	[MappedinID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[VN] [nvarchar](255) NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_AreaList] PRIMARY KEY CLUSTERED 
(
	[AreaListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvailableModels]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableModels](
	[AvailableModelsId] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](200) NOT NULL,
	[FileName] [nvarchar](500) NOT NULL,
	[Thumbnail] [nvarchar](500) NULL,
	[DefaultScaleX] [decimal](10, 4) NULL,
	[DefaultScaleY] [decimal](10, 4) NULL,
	[DefaultScaleZ] [decimal](10, 4) NULL,
	[DefaultRotationX] [decimal](10, 4) NULL,
	[DefaultRotationY] [decimal](10, 4) NULL,
	[DefaultRotationZ] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AvailableModels] PRIMARY KEY CLUSTERED 
(
	[AvailableModelsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[IconPath] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
	[CategoryName] [nvarchar](255) NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterData_Languages]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterData_Languages](
	[LanguageId] [varchar](5) NOT NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
	[FlagIcon] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_MasterData_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models3D]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models3D](
	[Model3DID] [int] IDENTITY(1,1) NOT NULL,
	[UUID] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[ModelURL] [nvarchar](500) NOT NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[FloorId] [nvarchar](100) NULL,
	[FloorName] [nvarchar](100) NULL,
	[RotationX] [decimal](10, 4) NOT NULL,
	[RotationY] [decimal](10, 4) NOT NULL,
	[RotationZ] [decimal](10, 4) NOT NULL,
	[ScaleX] [decimal](10, 4) NOT NULL,
	[ScaleY] [decimal](10, 4) NOT NULL,
	[ScaleZ] [decimal](10, 4) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Model3DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IconPath] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
	[SubCategoryName] [nvarchar](255) NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_Floors]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_Floors](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[MappedinId] [varchar](100) NULL,
	[FloorCode] [varchar](20) NULL,
	[SortOrder] [int] NULL,
	[VN] [nvarchar](255) NOT NULL,
	[EN] [nvarchar](255) NULL,
	[ZH] [nvarchar](255) NULL,
	[JA] [nvarchar](255) NULL,
	[KO] [nvarchar](255) NULL,
 CONSTRAINT [PK_Translation_Floors] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation_UI]    Script Date: 1/22/2026 9:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation_UI](
	[UIKeyId] [int] IDENTITY(1,1) NOT NULL,
	[KeyCode] [varchar](100) NOT NULL,
	[KeyType] [varchar](50) NULL,
	[VN] [nvarchar](500) NULL,
	[EN] [nvarchar](500) NULL,
	[ZH] [nvarchar](500) NULL,
	[JA] [nvarchar](500) NULL,
	[KO] [nvarchar](500) NULL,
 CONSTRAINT [PK_Translation_UI] PRIMARY KEY CLUSTERED 
(
	[UIKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AreaCategory] ON 

INSERT [dbo].[AreaCategory] ([AssignmentID], [AreaListID], [SubCategoryID]) VALUES (1, 1, 101)
INSERT [dbo].[AreaCategory] ([AssignmentID], [AreaListID], [SubCategoryID]) VALUES (2, 2, 109)
INSERT [dbo].[AreaCategory] ([AssignmentID], [AreaListID], [SubCategoryID]) VALUES (3, 3, 174)
GO
SET IDENTITY_INSERT [dbo].[AreaCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[AreaInformation] ON 

INSERT [dbo].[AreaInformation] ([InformationID], [AreaListID], [InformationVI], [InformationEN], [InformationZH], [InformationJA], [InformationKO], [ImageUrl]) VALUES (1, 1, N'Nhà vệ sinh công cộng (Nam - bên trái, Nữ - bên phải)', N'Public restroom (Men - left, Women - right)', N'公共卫生间（男-左，女-右）', N'公衆トイレ（男性-左、女性-右）', N'공중화장실(남자-왼쪽, 여자-오른쪽)', N'https://cdn.mappedin.com/6821fa68ae9d49000b93de05/6aa610dc961a5f25694abdbcbb4ad809de94d60b.jpg?sv=2023-08-03&st=2026-01-20T00%3A45%3A00Z&se=2026-01-20T03%3A00%3A00Z&sr=c&sp=r&sig=jsuYV3q%2F2Z72Rl8XYLIIutsH75SUbTS8SnP9%2F8oPJ8A%3D')
INSERT [dbo].[AreaInformation] ([InformationID], [AreaListID], [InformationVI], [InformationEN], [InformationZH], [InformationJA], [InformationKO], [ImageUrl]) VALUES (2, 2, N'Cửa hàng tiện lợi 7-seven', N'7-seven convenience store', N'7-7便利店', N'コンビニエンスストア セブンセブン', N'세븐세븐 편의점', N'https://cdn.mappedin.com/6821fa68ae9d49000b93de05/eef3654bab241698a10d3487057755e206e6f193.jpg?sv=2023-08-03&st=2026-01-20T00%3A45%3A00Z&se=2026-01-20T03%3A00%3A00Z&sr=c&sp=r&sig=jsuYV3q%2F2Z72Rl8XYLIIutsH75SUbTS8SnP9%2F8oPJ8A%3D')
INSERT [dbo].[AreaInformation] ([InformationID], [AreaListID], [InformationVI], [InformationEN], [InformationZH], [InformationJA], [InformationKO], [ImageUrl]) VALUES (3, 4, N'Bán phở, mì tôm Việt Nam', N'Selling Vietnamese pho and instant noodles', N'卖越南河粉和方便面', N'ベトナムのフォーやインスタントラーメンの販売', N'베트남 쌀국수와 라면을 판매하고 있어요', N'https://cdn.mappedin.com/6821fa68ae9d49000b93de05/eb76314d05e1e664d03bc12d781ccb9ccf520dee.jpg?sv=2023-08-03&st=2026-01-20T00%3A45%3A00Z&se=2026-01-20T03%3A00%3A00Z&sr=c&sp=r&sig=jsuYV3q%2F2Z72Rl8XYLIIutsH75SUbTS8SnP9%2F8oPJ8A%3D')
GO
SET IDENTITY_INSERT [dbo].[AreaInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[AreaList] ON 

INSERT [dbo].[AreaList] ([AreaListID], [MappedinID], [Name], [VN], [EN], [ZH], [JA], [KO]) VALUES (1, N's_dea0b3d07f4eb13c', N'Nhà vệ sinh', N'Nhà vệ sinh', N'Restroom - Toilet', N'洗手间', N'トイレ', N'화장실')
INSERT [dbo].[AreaList] ([AreaListID], [MappedinID], [Name], [VN], [EN], [ZH], [JA], [KO]) VALUES (2, N's_ae8311c5c4a7093e', N'Cửa hàng tiện lợi', N'Cửa hàng tiện lợi', N'convenience store', N'商店', N'ショップ', N'상점')
INSERT [dbo].[AreaList] ([AreaListID], [MappedinID], [Name], [VN], [EN], [ZH], [JA], [KO]) VALUES (3, N's_42e9e3758c837e0c', N'Phòng y tế', N'Phòng y tế', N'Medical Room', N'医疗室', N'医務室', N'의무실')
GO
SET IDENTITY_INSERT [dbo].[AreaList] OFF
GO
SET IDENTITY_INSERT [dbo].[AvailableModels] ON 

INSERT [dbo].[AvailableModels] ([AvailableModelsId], [ModelName], [FileName], [Thumbnail], [DefaultScaleX], [DefaultScaleY], [DefaultScaleZ], [DefaultRotationX], [DefaultRotationY], [DefaultRotationZ], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Airplane', N'airplane.glb', N'airplane.jpg', CAST(2.0000 AS Decimal(10, 4)), CAST(2.0000 AS Decimal(10, 4)), CAST(2.0000 AS Decimal(10, 4)), CAST(90.0000 AS Decimal(10, 4)), CAST(90.0000 AS Decimal(10, 4)), CAST(1.0000 AS Decimal(10, 4)), 1, CAST(N'2026-01-18T22:28:06.620' AS DateTime), CAST(N'2026-01-21T21:48:47.423' AS DateTime))
INSERT [dbo].[AvailableModels] ([AvailableModelsId], [ModelName], [FileName], [Thumbnail], [DefaultScaleX], [DefaultScaleY], [DefaultScaleZ], [DefaultRotationX], [DefaultRotationY], [DefaultRotationZ], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Car', N'car.json', N'car.jpg', CAST(2.0000 AS Decimal(10, 4)), CAST(2.0000 AS Decimal(10, 4)), CAST(2.0000 AS Decimal(10, 4)), CAST(90.0000 AS Decimal(10, 4)), CAST(90.0000 AS Decimal(10, 4)), CAST(1.0000 AS Decimal(10, 4)), 1, CAST(N'2026-01-18T22:28:06.627' AS DateTime), CAST(N'2026-01-21T21:48:47.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[AvailableModels] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [IconPath], [DisplayOrder], [CategoryName], [EN], [ZH], [JA], [KO]) VALUES (1, N'accessible.png', 0, N'Hỗ trợ người khuyết tật', N'Accessibility', N'无障碍设施', N'バリアフリー', N'교통약자 지원')
INSERT [dbo].[Categories] ([CategoryID], [IconPath], [DisplayOrder], [CategoryName], [EN], [ZH], [JA], [KO]) VALUES (2, N'beauty.png', 0, N'Làm đẹp', N'Beauty', N'美容', N'ビューティー', N'뷰티')
INSERT [dbo].[Categories] ([CategoryID], [IconPath], [DisplayOrder], [CategoryName], [EN], [ZH], [JA], [KO]) VALUES (3, N'connection.png', 0, N'Kết nối', N'Connections', N'交通连接', N'連絡通路', N'연결시설')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[MasterData_Languages] ([LanguageId], [LanguageName], [FlagIcon], [IsActive], [SortOrder]) VALUES (N'en', N'English', NULL, 1, 2)
INSERT [dbo].[MasterData_Languages] ([LanguageId], [LanguageName], [FlagIcon], [IsActive], [SortOrder]) VALUES (N'ja', N'日本語 (Japanese)', NULL, 1, 4)
INSERT [dbo].[MasterData_Languages] ([LanguageId], [LanguageName], [FlagIcon], [IsActive], [SortOrder]) VALUES (N'ko', N'한국어 (Korean)', NULL, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Models3D] ON 

SET IDENTITY_INSERT [dbo].[Models3D] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [IconPath], [DisplayOrder], [SubCategoryName], [EN], [ZH], [JA], [KO]) VALUES (27, 8, N'Food&Drink/pizza.png', 0, N'Pizza', N'Pizza', N'披萨', N'ピザ', N'피자')
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [IconPath], [DisplayOrder], [SubCategoryName], [EN], [ZH], [JA], [KO]) VALUES (57, 1, N'Accessible/accessible.png', 0, N'Hỗ trợ người khuyết tật', N'Accessibility', N'无障碍设施', N'バリアフリー', N'교통약자 지원')
INSERT [dbo].[SubCategories] ([SubCategoryID], [CategoryID], [IconPath], [DisplayOrder], [SubCategoryName], [EN], [ZH], [JA], [KO]) VALUES (58, 2, N'Beauty/cosmetic.png', 0, N'Mỹ phẩm', N'Cosmetics', N'化妆品', N'コスメ', N'화장품')
GO
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Translation_Floors] ON 

INSERT [dbo].[Translation_Floors] ([FloorId], [MappedinId], [FloorCode], [SortOrder], [VN], [EN], [ZH], [JA], [KO]) VALUES (1, N'm_dae8f26a40f6017f', N'GF', 1, N'Tầng trệt', N'Ground Floor', N'底楼', N'1階', N'지상층')
INSERT [dbo].[Translation_Floors] ([FloorId], [MappedinId], [FloorCode], [SortOrder], [VN], [EN], [ZH], [JA], [KO]) VALUES (2, N'm_41a38d6d0411d397', N'1F', 2, N'Tầng 1', N'1st Floor', N'1层', N'1階', N'1층')
INSERT [dbo].[Translation_Floors] ([FloorId], [MappedinId], [FloorCode], [SortOrder], [VN], [EN], [ZH], [JA], [KO]) VALUES (3, N'm_d4b5674c0b15e099', N'2F', 3, N'Tầng 2', N'2nd Floor', N'2层', N'2階', N'2층')
SET IDENTITY_INSERT [dbo].[Translation_Floors] OFF
GO
SET IDENTITY_INSERT [dbo].[Translation_UI] ON 

INSERT [dbo].[Translation_UI] ([UIKeyId], [KeyCode], [KeyType], [VN], [EN], [ZH], [JA], [KO]) VALUES (665, N'venue_name', N'title', N'Cảng Hàng không Quốc tế Long Thành', N'Long Thanh International Airport', N'隆塔国际机场', N'ロンタイン国際空港', N'롱탄 국제공항')
INSERT [dbo].[Translation_UI] ([UIKeyId], [KeyCode], [KeyType], [VN], [EN], [ZH], [JA], [KO]) VALUES (666, N'from', N'label', N'Đi từ:', N'From:', N'起点：', N'出発地：', N'출발:')
INSERT [dbo].[Translation_UI] ([UIKeyId], [KeyCode], [KeyType], [VN], [EN], [ZH], [JA], [KO]) VALUES (667, N'to', N'label', N'Đi đến:', N'To:', N'终点：', N'到着地：', N'도착:')
SET IDENTITY_INSERT [dbo].[Translation_UI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Models3D__65A475E68075FF0C]    Script Date: 1/22/2026 9:52:17 AM ******/
ALTER TABLE [dbo].[Models3D] ADD UNIQUE NONCLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models3D_CreatedAt]    Script Date: 1/22/2026 9:52:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_CreatedAt] ON [dbo].[Models3D]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Models3D_FloorId]    Script Date: 1/22/2026 9:52:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_FloorId] ON [dbo].[Models3D]
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Models3D_IsActive]    Script Date: 1/22/2026 9:52:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_IsActive] ON [dbo].[Models3D]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Models3D_UUID]    Script Date: 1/22/2026 9:52:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Models3D_UUID] ON [dbo].[Models3D]
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Translation_UI_KeyCode]    Script Date: 1/22/2026 9:52:17 AM ******/
ALTER TABLE [dbo].[Translation_UI] ADD  CONSTRAINT [UK_Translation_UI_KeyCode] UNIQUE NONCLUSTERED 
(
	[KeyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleX]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleY]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [DefaultScaleZ]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationX]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationY]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((0)) FOR [DefaultRotationZ]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AvailableModels] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[MasterData_Languages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MasterData_Languages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationX]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationY]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [RotationZ]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleX]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleY]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [ScaleZ]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Models3D] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Translation_Floors] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[AreaCategory]  WITH CHECK ADD  CONSTRAINT [FK_AreaCategory_AreaList] FOREIGN KEY([AreaListID])
REFERENCES [dbo].[AreaList] ([AreaListID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AreaCategory] CHECK CONSTRAINT [FK_AreaCategory_AreaList]
GO
ALTER TABLE [dbo].[AreaInformation]  WITH CHECK ADD  CONSTRAINT [FK_AreaInformation_AreaList] FOREIGN KEY([AreaListID])
REFERENCES [dbo].[AreaList] ([AreaListID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AreaInformation] CHECK CONSTRAINT [FK_AreaInformation_AreaList]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories]
GO
ALTER TABLE [dbo].[Models3D]  WITH CHECK ADD  CONSTRAINT [CHK_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[Models3D] CHECK CONSTRAINT [CHK_Latitude]
GO
ALTER TABLE [dbo].[Models3D]  WITH CHECK ADD  CONSTRAINT [CHK_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[Models3D] CHECK CONSTRAINT [CHK_Longitude]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteModel]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete model (Soft Delete)
CREATE   PROCEDURE [dbo].[SP_DeleteModel]
    @UUID NVARCHAR(50)
AS
BEGIN
    UPDATE Models3D SET IsDeleted = 1, UpdatedAt = GETDATE() WHERE UUID = @UUID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllModels]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get all active models
CREATE   PROCEDURE [dbo].[SP_GetAllModels]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Models3D WHERE IsDeleted = 0 AND IsActive = 1 ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableModels]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedure: SP_GetAvailableModels
CREATE   PROCEDURE [dbo].[SP_GetAvailableModels]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM AvailableModels WHERE IsActive = 1 ORDER BY ModelName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetModelByUUID]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get model by UUID
CREATE   PROCEDURE [dbo].[SP_GetModelByUUID]
    @UUID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Models3D WHERE UUID = @UUID AND IsDeleted = 0 AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SyncAvailableModel]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Stored Procedure: SP_SyncAvailableModel
-- Upserts based on FileName
CREATE   PROCEDURE [dbo].[SP_SyncAvailableModel]
    @ModelName nvarchar(200),
    @FileName nvarchar(500),
    @Thumbnail nvarchar(500),
    @DefaultScaleX decimal(10,4),
    @DefaultScaleY decimal(10,4),
    @DefaultScaleZ decimal(10,4),
    @DefaultRotationX decimal(10,4),
    @DefaultRotationY decimal(10,4),
    @DefaultRotationZ decimal(10,4)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM AvailableModels WHERE FileName = @FileName)
    BEGIN
        -- Update
        UPDATE AvailableModels
        SET ModelName = @ModelName,
            Thumbnail = @Thumbnail,
            UpdatedAt = GETDATE()
            -- We typically DON'T update defaults if user tuned them? 
            -- But here we assume file system source of truth for basic defaults or just keep existing.
            -- Let's update Thumbnail and Name.
        WHERE FileName = @FileName;
    END
    ELSE
    BEGIN
        -- Insert
        INSERT INTO AvailableModels (ModelName, FileName, Thumbnail, 
            DefaultScaleX, DefaultScaleY, DefaultScaleZ, 
            DefaultRotationX, DefaultRotationY, DefaultRotationZ)
        VALUES (@ModelName, @FileName, @Thumbnail, 
            @DefaultScaleX, @DefaultScaleY, @DefaultScaleZ,
            @DefaultRotationX, @DefaultRotationY, @DefaultRotationZ);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpsertModel]    Script Date: 1/22/2026 9:52:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Stored Procedures
-- =============================================

-- Insert or Update Model
CREATE   PROCEDURE [dbo].[SP_UpsertModel]
    @UUID NVARCHAR(50),
    @ModelName NVARCHAR(200),
    @Description NVARCHAR(500),
    @ModelURL NVARCHAR(500),
    @Latitude DECIMAL(18, 10),
    @Longitude DECIMAL(18, 10),
    @FloorId NVARCHAR(100),
    @FloorName NVARCHAR(100),
    @RotationX DECIMAL(18, 4),
    @RotationY DECIMAL(18, 4),
    @RotationZ DECIMAL(18, 4),
    @ScaleX DECIMAL(18, 4),
    @ScaleY DECIMAL(18, 4),
    @ScaleZ DECIMAL(18, 4),
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Models3D WHERE UUID = @UUID)
    BEGIN
        UPDATE Models3D
        SET 
            ModelName = @ModelName,
            Description = @Description,
            ModelURL = @ModelURL,
            Latitude = @Latitude,
            Longitude = @Longitude,
            FloorId = @FloorId,
            FloorName = @FloorName,
            RotationX = @RotationX,
            RotationY = @RotationY,
            RotationZ = @RotationZ,
            ScaleX = @ScaleX,
            ScaleY = @ScaleY,
            ScaleZ = @ScaleZ,
            IsDeleted = 0,
            UpdatedAt = GETDATE()
        WHERE UUID = @UUID;
    END
    ELSE
    BEGIN
        INSERT INTO Models3D 
            (UUID, ModelName, Description, ModelURL, Latitude, Longitude, 
             FloorId, FloorName, RotationX, RotationY, RotationZ, 
             ScaleX, ScaleY, ScaleZ, CreatedBy, IsActive, IsDeleted)
        VALUES 
            (@UUID, @ModelName, @Description, @ModelURL, @Latitude, @Longitude,
             @FloorId, @FloorName, @RotationX, @RotationY, @RotationZ,
             @ScaleX, @ScaleY, @ScaleZ, @CreatedBy, 1, 0);
    END
END;
GO
USE [master]
GO
